@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,100;1,300;1,900&display=swap"');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Roboto:ital,wght@0,100;0,300;1,100;1,300;1,900&display=swap');
/* colors */
:root {
    --defaultb: #ffffff;
    --default: #000000;
    --background: #0c2445;
    --buttons: #32589b;
    --links: #6293fd;
    --light: #9dd3ff;
    --lightfont: #2a2a2a;
    --bgsection: #fdfdfd;
    --border: #e8e8e8;
}

/* normalize */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* background */
body {
    background: var(--defaultb);
}

/* navBar */
.navbar {
    background-image: linear-gradient(
        to right,
        #0c2445, 
        #32589b
    );
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
}

h1, ul {
    display: inline-block;
}

h1 {
    cursor: pointer;
    color: var(--defaultb);
    font-size: 30px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    padding: 0px 10px;
}

li, a {
    text-decoration: none;
    display: inline-block;
    color: var(--defaultb);
}

li {
    padding: 10px 20px;
    cursor: pointer;
}

li:hover {
    border-bottom: 2px solid #fff;

}

/* converter */

.centrar {
    width: 80%;
    margin: auto;
}

h4 {
    margin: 32px 12px 22px 12px;
    font-size: 20px;
    color: var(--lightfont);
}

.thumbnail {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 90px;
}

img {
    width: 400px;
}

.box {
    width: 50%;
    height: 300px;
    background: var(--bgsection);
    border-radius: 8px;
    border: 1px solid var(--border);
    display: inline-block;
    max-width: 600px;
}

.form__textbox {
    display: inline-block;
    padding: 6px;
    border-radius: 3px;
    border: 1px solid var(--border);
    outline: 1px solid var(--border);
    height: 30px;
}

.form__textbox:hover {
    border: 1px solid var(--links);
    transition: all .1s ease-out;

}

.form__btn {
    padding: 5px;
    width: 80px;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    height: 30px;
    background: var(--buttons);
    color: var(--defaultb);
}

.form__btn:hover {
    background: var(--defaultb);
    border: 1px solid var(--links);
    transition: all .1s ease-out;
    color: var(--buttons);
}

.form__select {
    padding: 5px;
    width: 80px;
    border: none;
    border-radius: 3px;
    height: 30px;
    background: var(--buttons);
    color: var(--defaultb);
    cursor: pointer;
}

.form__select:active {
    border: 1px solid var(--links);
}

.form__select:hover {
    background: var(--defaultb);
    border: 1px solid var(--links);
    transition: all .1s ease-out;
    color: var(--buttons);
}

input {
    margin: 2px 12px;
}

.converter {
    text-align: center;
    margin: 40px;
    color: var(--lightfont);
}